In [2]:
import pandas as pd

i = 1


df = pd.read_excel('C:/Users/Usuário/Desktop/faturamento1.xlsx')

df = df.rename(columns={'Total na NF':'Total'})

df = df[{'Loja','Total'}].groupby('Loja').sum()   

display(df)

# df_un_franq = pd.read_excel('C:/Users/Usuário/Desktop/tab franquia.xls')

# df_un_franq = df_un_franq.rename(columns={"Código Preço":"Cód.Produto"})

# display(df_un_franq)

TypeError: Passing a set as an indexer is not supported. Use a list instead.

In [43]:


# new_df_filiais = pd.merge(df[['Responsável','Documento','Data Mov','Cód.Produto','SKU','Descrição','Qtd','Vlr. Unitário NF','Total']],
#                           df_un_franq[['Cód.Produto','Varejo']],how='inner',on='Cód.Produto')

# display(new_df_filiais)

,Responsável,Documento,Data Mov,Cód.Produto,SKU,Descrição,Qtd,Vlr. Unitário NF,Total,Varejo
0,20,8920.0,2023-06-05,1010208.0,1.010208e+10,CP B 2.0 IP12 MINI,5,1.36,6.8,10.4
1,36,9007.0,2023-08-15,1010208.0,1.010208e+10,CP B 2.0 IP12 MINI,2,0.80,1.6,10.4
2,20,9057.0,2023-08-17,1010208.0,1.010208e+10,CP B 2.0 IP12 MINI,1,0.80,0.8,10.4
3,30,9139.0,2023-08-24,1010208.0,1.010208e+10,CP B 2.0 IP12 MINI,2,0.80,1.6,10.4
4,36,9178.0,2023-09-05,1010208.0,1.010208e+10,CP B 2.0 IP12 MINI,1,2.40,2.4,10.4
...,...,...,...,...,...,...,...,...,...,...
21635,31,9852.0,2023-10-31,2020622.0,2.020622e+10,PT CAM IP15 P/15 PM PREM,6,3.60,21.6,3.6
21636,04,9853.0,2023-10-31,2020032.0,2.020032e+10,PT S9 BLIND,1,1.50,1.5,6.5
21637,59,9854.0,2023-10-31,2010045.0,2.010045e+10,PT J8 ORG,2,2.40,4.8,10.4
21638,48,9863.0,2023-10-31,1011902.0,1.011902e+10,CP S20 FE PNT CRISTAIS,2,45.00,90.0,15.0
21639,48,9863.0,2023-10-31,1011902.0,1.011902e+10,CP S20 FE PNT CRISTAIS,1,45.00,45.0,15.0

In [46]:
df2 = pd.read_excel('Z:/faturamento1.xlsx')

df2 = df2.rename(columns={'Total na NF':'Total'})
df2.loc[df2.Total < 0,'Total'] = 0

df2 = df2[['Responsável','Loja','Documento','Data Mov','Cód.Produto','SKU','Descrição','Qtd','Vlr. Unitário NF','Total']]
display(df2)

,Responsável,Loja,Documento,Data Mov,Cód.Produto,SKU,Descrição,Qtd,Vlr. Unitário NF,Total
0,99.68,99.0,9002.0,2023-08-11,2020156.0,2.020156e+10,PT IP14 3D,14,50.0,700.00
1,99.68,99.0,9002.0,2023-08-11,2010154.0,2.010154e+10,PT IP13/13 PRO 3D,13,50.0,650.00
2,99.68,99.0,9002.0,2023-08-11,2020363.0,2.020363e+10,PT IPAD AIR 2/5/6 VIDRO,11,75.0,825.00
3,99.68,99.0,9002.0,2023-08-11,1020534.0,1.020534e+10,CP C FLIP IPAD AIR,11,135.0,1485.00
4,99.68,99.0,9002.0,2023-08-11,1010173.0,1.010173e+10,CP B 1.5 IP13,13,120.0,1560.00
...,...,...,...,...,...,...,...,...,...,...
1111,99.9,99.0,9871.0,2023-10-31,7010028.0,7.010028e+10,CORRENTE STRAP COURO,5,99.0,495.00
1112,99.9,99.0,9871.0,2023-10-31,7010028.0,7.010028e+10,CORRENTE STRAP COURO,5,99.0,495.00
1113,99.9,99.0,9871.0,2023-10-31,7010029.0,7.010029e+10,CORRENTE STRAP PEROLA,5,49.0,245.00
1114,99.9,99.0,9871.0,2023-10-31,7010030.0,7.010030e+10,SUP DE MESA P/ TAB E NOTE,2,159.0,318.00
1115,NaN,NaN,NaN,NaT,NaN,NaN,NaN,5138,NaN,187629.22

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

ValueError: You are trying to merge on float64 and object columns for key 'Cód.Produto'. If you wish to proceed you should use pd.concat

In [3]:
df.to_excel('C:/Users/Usuário/Desktop/faturamento_1.xlsx',index=False)